# Environment variables
/.env

# Data files to be imported
/data/*
!/data/model
/data/model/*
!/data/model/.gitkeep

# Output
/output/*
!/output/.gitkeep

# Logs
/logs/*
!/logs/.gitkeep

# Node.js
/node_modules/*

# vscode
/.vscode/*